@page

@using EventManagerLib.model
@model EventManager.Pages._Event.IndexModel
@{
}


<div class="event-wrapper">

    <section class="header-title-wrapper">
        <h1 class="header-text">Events</h1>
        <br />
        <p class="time-wrapper">
            @DateTime.Now.ToString("R")
        </p>

    </section>


    <section>
        @foreach (var claim in User.Claims)
        {
            if (claim.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role")
            {
                if (claim.Value == "Admin")
                {
                    <div class="card-columns" style="column-gap: 2rem;">
                        @foreach (Event ev in @Model.Events)
                        {
                            <div class="card">

                                <div class="card-header" style="background-color: rgba(255, 220, 0, 0.25); height: 49px;">
                                    <p style="text-transform: uppercase; font-weight: 600"># Featured</p>
                                </div>

                                <div class="card-body-details">
                                    <div class="card-body-details-title">
                                        <h5>@ev.EventName</h5>
                                    </div>

                                    <div class="text-container">
                                        <p class="card-body-details-text">
                                            @ev.EventDesc
                                        </p>
                                    </div>
                                </div>

                                <div class="extra-event-detail" style="margin-left: 6%; margin-bottom: -6%">
                                    <p class="text-muted" style="font-size: 9px; text-transform: uppercase; margin-bottom: 2%;">Location</p>
                                    <p style="margin-top: -3%; font-size: 10px;">@ev.EventType</p>
                                    <p class="text-muted" style="font-size: 9px; text-transform: uppercase; margin-bottom: 2%;">Duration</p>
                                    <p style="margin-top: -3%; font-size: 10px;">@ev.TimeFrom.ToString(@"hh\:mm") - @ev.TimeTo.ToString(@"hh\:mm")</p>
                                </div>

                                <div class="card-body-button" style="margin-top: 9%; margin-bottom: -6%;">
                                    <form method="get">
                                        <button class="btn btn-primary" type="submit" asp-page="/_Admin/Edit" asp-route-id="@ev.EventID">Edit Event</button>
                                    </form>
                                </div>
                                <div class="card-body-button">
                                    <form method="get">
                                        <button class="btn btn-primary" type="submit" asp-page="/_Admin/Delete" asp-route-id="@ev.EventID">  Delete Event</button>
                                    </form>
                                </div>
                               
                                <div class="card-footer">
                                    Lorem ipsum
                                </div>

                            </div>
                        }

                    </div>

                }

                else
                {
                    <div class="card-columns" style="column-gap: 2rem;">
                        @foreach (Event ev in @Model.Events)
                        {
                            <div class="card">

                                <div class="card-header" style="background-color: rgba(255, 220, 0, 0.25); height: 49px;">
                                    <p style="text-transform: uppercase; font-weight: 600"># Featured</p>
                                </div>

                                <div class="card-body-details">
                                    <div class="card-body-details-title">
                                        <h5>@ev.EventName</h5>
                                    </div>

                                    <div class="text-container">
                                        <p class="card-body-details-text">
                                            @ev.EventDesc
                                        </p>
                                    </div>
                                </div>

                                <div class="extra-event-detail" style="margin-left: 6%;">
                                    <p class="text-muted" style="font-size: 12px; text-transform: uppercase; margin-bottom: 2%;">Location</p>
                                    <p style="margin-top: -3%; font-size: 10px;">@ev.EventType</p>
                                    <p class="text-muted" style="font-size: 12px; text-transform: uppercase; margin-bottom: 2%;">Duration</p>
                                    <p style="margin-top: -3%; font-size: 10px;">@ev.TimeFrom.ToString(@"hh\:mm") - @ev.TimeTo.ToString(@"hh\:mm")</p>
                                </div>

                                <div class="card-body">
                                    <div class="card-body-button">
                                        <form method="get">
                                            <button class="btn btn-primary" type="submit" asp-page="/_User/Booking" asp-route-id="@ev.EventID"></button>
                                        </form>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    Lorem ipsum
                                </div>
                            </div>
                        }

                    </div>

                }

            }

        }

    </section>

</div>

<style>

    .card {
        margin-bottom: 20%;
        box-shadow: 1px 3px 15px -3px #9d9d9d;
    }

    .card-body-button {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
    }

    .card-body-details {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
    }

    .card-body-details-title {
        border-bottom: 1px solid;
        height: 6%;
        margin-top: -1%;
        position: absolute;
    }

    .card-body-details-text {
        overflow: auto;
    }

    .event-wrapper {
        margin: 0
    }

    .extra-event-detail {
    }

    .header-text {
        margin-top: 30px;
        font-weight: 900;
    }

    .header-title-wrapper {
        text-transform: uppercase;
        margin-top: 10px;
    }


    .text-container {
        overflow: auto;
        height: 130px;
        margin-top: 2.5rem;
    }

    .time-wrapper {
        margin-bottom: 25px;
        margin-top: -27px;
        border-block: 1px solid;
        border-block-end-width: 1px;
        border-block-end-style: solid;
        border-block-end-color: currentcolor;
        border-block-end: 0;
    }
</style>