@page
@model EventManager.Pages._User.TrainModel
@{
}

<div class="text-center">
    <h1>Departures to ZBA Event</h1>
</div>

<table border="1px solid black">
    <tr>
        <th>Departure:</th>
        <th>Description:</th>
        <th>Time:</th>
        <th>Walk:</th>
        <th>Time:</th>
        <th>Description:</th>
        <th>Arrival:</th>
    </tr>
    @foreach (var t in Model.Trains)
    {
        <tr>
            <td>@t.Departure</td>
            <td>@t.Description</td>
            <td>@t.Time</td>
            <td>@t.Walk</td>
            <td>@t.Time2</td>
            <td>Description @t.Description2</td>
            <td>@t.Arrival</td>

        </tr>
    }
</table>

